<!-- wp:template-part {"slug":"header-with-banner","theme":"startupone"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"startupone/counter-section"} /-->
  <!-- wp:pattern {"slug":"startupone/about-us"} /-->
  <!-- wp:pattern {"slug":"startupone/featured-projects"} /-->
  <!-- wp:pattern {"slug":"startupone/services-section"} /-->
  <!-- wp:pattern {"slug":"startupone/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"startupone/cta-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"startupone"} /-->
